.config-editor {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.config-navbar,
.config-navbar__nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
}

.config-navbar {
  height: 100%;
  width: 25%;
  padding: 10px;
}

.config-navbar__header {
  text-decoration: none;
  color: var(--bs-heading-color);
  /* bootstrap var, replace */
}

.config-navbar__nav {
  padding-left: 10px;
  width: 100%;
}

.config-navbar > .config-navbar__nav {
  overflow: auto;
  background-color: var(--ucp-main-grey-alpha);
  flex-grow: 1;
}

.config-navbar__link {
  text-decoration: none;
  padding: 2px;
  color: black;
}

.config-container {
  width: 75%;
  padding: 10px;
  align-items: stretch;
}

.config-container__content {
  padding: 10px;
  color: black;
  flex-grow: 1;
}

.config-editor__buttons {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;
}

.config-editor__buttons--user-override-switch {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.config-editor__buttons--user-override-switch > .user-override-switch {
  margin: 0 5px 0 0;
}

.config-editor__buttons--apply-button {
  margin-left: auto;
}

.config-editor__buttons--apply-button > button {
  height: 100%;
}

.config-warning-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.config-warning-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 5px;
}

.config-warning-container__text {
  flex-grow: 1;
}

.config-warning-container__symbols {
  padding: 0 1px 0 5px;
  text-wrap: nowrap;
}

.form-control:disabled {
  opacity: 0.5;
}

.label-disabled > label {
  opacity: 0.5;
}

#config-sections {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: clip;
}

.icons-button {
  display: inline-block;
  width: calc(1em + 28px);
}

.ucp-button-variant {
  background-color: transparent;
  color: white;
  min-width: 150px;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}

.reset {
  background-image: url('/src/assets/ucp3/reset.png');
  background-position: center;
  background-repeat: no-repeat;

  border-image-slice: 8;
}

.reset:hover {
  background-image: url('/src/assets/ucp3/reset_hover.png');
  border-image-slice: 8;
}

.reset:disabled,
.reset:active {
  background-image: url('/src/assets/ucp3/reset_active.png');
  border-image-slice: 8;
}

.import {
  background-image: url('/src/assets/ucp3/import.png');
}

.import:hover {
  background-image: url('/src/assets/ucp3/import_hover.png');
}

.import:disabled {
  background-image: url('/src/assets/ucp3/import_active.png');
}

.export {
  background-image: url('/src/assets/ucp3/export.png');
}

.export:hover {
  background-image: url('/src/assets/ucp3/export_hover.png');
}

.export:disabled {
  background-image: url('/src/assets/ucp3/export_active.png');
}

.apply {
  background-image: url('/src/assets/ucp3/reset.png');
  display: inline-block;
  background-color: transparent;
  width: 32px;
  height: 28px;
  border: none;
  padding: 0px;
}

.apply:hover {
  background-image: url('/src/assets/ucp3/reset_hover.png');
}

.apply:disabled {
  background-image: url('/src/assets/ucp3/reset_active.png');
}

/* @import '~bootstrap'; */

/* Hide the default switch appearance */
input[type='checkbox'] {
}

/* Style the label element to show the switch image
.switch-label {
    width: 19px !important;
    height: 19px !important;
    background-image: url('/src/assets/ucp3/checkbox_empty.png') !important;
    background-size: cover !important;
    cursor: pointer !important;
    display: inline-block;
    align-items: center;
}
*/
/* Style the checked state of the switch
input[type="checkbox"]:checked + .label:before {
    background-image: url('/src/assets/ucp3/checkbox_full.png') !important;
}
*/
/* Style the disabled state of the switch
input[type="checkbox"]:disabled + .label:before {
    opacity: 0.5;
    cursor: not-allowed;
}
*/

/** sword-checkbox **/
.sword-checkbox input[type='checkbox'],
.sword-checkbox input[type='radio'] {
  display: none;
}

.sword-checkbox input[type='checkbox'] + label,
.sword-checkbox input[type='radio'] + label {
  display: block;
  position: relative;
  padding-left: 32px;
  font:
    14px/20px 'Open Sans',
    Arial,
    sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sword-checkbox input[type='checkbox']:hover + label:hover,
.sword-checkbox input[type='radio']:hover + label:hover {
  cursor: pointer;
}

.sword-checkbox input[type='checkbox']:hover + label:before,
.sword-checkbox input[type='radio']:hover + label:before {
}

.sword-checkbox input[type='checkbox'] + label:last-child,
.sword-checkbox input[type='radio'] + label:last-child {
  margin-bottom: 0;
}

.sword-checkbox input[type='checkbox'] + label:before,
.sword-checkbox input[type='radio'] + label:before {
  content: '';
  display: block;
  background-image: url('/src/assets/ucp3/checkbox_empty.png');
  background-size: cover;
  width: 19px;
  height: 19px;

  position: absolute;
  left: 0px;
  top: -3px;
  -webkit-transition:
    all 0.1s,
    background 0.1s ease-in-out;
  transition:
    all 0.1s,
    background 0.1s ease-in-out;
}

.sword-checkbox input[type='checkbox']:checked + label:before,
.sword-checkbox input[type='radio']:checked + label:before {
  background-image: url('/src/assets/ucp3/checkbox_full.png');
}

/* Styles for disabled input elements */
.sword-checkbox input[type='checkbox']:disabled + label,
.sword-checkbox input[type='radio']:disabled + label {
  opacity: 0.5;
  cursor: not-allowed;
}

.sword-checkbox input[type='checkbox']:disabled + label:before,
.sword-checkbox input[type='radio']:disabled + label:before {
}

/** sword-checkbox end **/

.transparent-white-bg {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3px 5px 3px 10px;
  margin-bottom: 3px;
  margin-top: 2px;
}

/** slider **/
.ucp-slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */

  /* TODO add the slider background with a border image */
  background-image: url('/src/assets/ucp3/slider_bg_left.png'),
    url('/src/assets/ucp3/slider_bg_right.png'),
    url('/src/assets/ucp3/slider_bg_middle.png');
  background-position:
    left top,
    right top,
    center top;
  background-repeat: no-repeat, no-repeat, repeat-x;
  height: 11px;
  border-image-slice: 18 19 0 18 fill !important;
  border-image-width: 20px 20px 0px 20px !important;
  border-image-outset: 0px 0px 0px 0px !important;

  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.ucp-slider:disabled {
  opacity: 0.5;
}

/* chrome, safari (webkit based) */
.ucp-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 7px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  background-image: url('/src/assets/ucp3/slider.png');
  cursor: pointer;
  /* Cursor on hover */
}

.ucp-slider::-webkit-slider-thumb:active {
  background-image: url('/src/assets/ucp3/slider_active.png');
}

/* mozilla based */
.ucp-slider::-moz-range-thumb {
  width: 7px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  background-image: url('/src/assets/ucp3/slider.png');
  cursor: pointer;
  /* Cursor on hover */
}

.ucp-slider::-moz-range-thumb:active {
  background-image: url('/src/assets/ucp3/slider_active.png');
}

/* Slider track styles */
.ucp-slider .slider-track {
  background-image: url('/src/assets/ucp3/slider_bg_left.png'),
    url('/src/assets/ucp3/slider_bg_right.png'),
    url('/src/assets/ucp3/slider_bg_middle.png');
  background-position:
    left top,
    right top,
    center top;
  background-repeat: no-repeat, no-repeat, repeat-x;
  height: 11px;
}

/* Thumb styles */
.ucp-slider .slider-thumb {
  background: url('/src/assets/ucp3/slider.png') no-repeat center;
  width: 7px;
  height: 15px;
  border: none;
  transition: background-image 0.2s;
  /* Smooth transition */
}

.ucp-slider .slider-thumb:hover,
.ucp-slider .slider-thumb:focus {
  background-image: url('/src/assets/ucp3/slider.png');
}

/** slider end **/
