.launch__options__box--free-args {
    width: 50%;
    padding: 10px;

    >form {
        display: flex;
        flex-direction: column;
    }
}

.launch__options__box--free-envs {
    width: 50%;
    padding: 10px;

    >form {
        display: flex;

        >input {
            flex-grow: 1;
        }
    }
}