@import 'bootstrap';



html {
  overflow: hidden;
}

body {
  overflow: auto;
}

.btn-gyntsmaller {
  font-size: 10px;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.85rem;
}


.language-select-container {
  position: absolute;
  top: 8px;
  right:  12px;
}

.language-select-container select {
  font-size: 16px;
  padding: 4px 16px;
  margin-right: 5px;
  color: white !important;
  border: none !important;
}

.language-select-container svg {
  height: 1.2em;
  width: 1.2em;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

.dark-dropdown {
  background-color: rgba(0, 0, 0, 0.521);
  color: white !important;
  border: none !important;
}

.dark-dropdown option {
  background-color: rgba(0, 0, 0, 0.800) !important;
  color: white;
}

.file-selector {
  background-color: rgba(12, 12, 12, 0.8);
  color: rgb(155, 155, 155) !important;
  border: none !important;
  margin: 1px;
  white-space: nowrap;
}

.file-selector:hover {
  background-color: rgba(40, 40, 40, 0.8) !important;
  color: rgb(248, 255, 188) !important;
}

.background-image {
  background-image: url('../../assets/ucp3/bg.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.landing-container {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
}

.textInput {
  background:
    url('../../assets/ucp3/textfield_left.png') left center no-repeat,
    url('../../assets/ucp3/textfield_right.png') right center no-repeat,
    url('../../assets/ucp3/textfield_middle.png') center center repeat-x;
    
  background-size: auto;
  border: none;
  border-radius: 0px;
  height: 40px;
  width: 100%
}

.death90 {
  margin-right: 13px;
  left: 0;
  overflow: hidden;
}

.margin-title {
  margin-top: 20px;
}

.btn-close {
  margin-right: 3px;
}

.textInput input[type="text"] {
  background-color: transparent;
  flex-grow: 1;
  color: white;
  border: none;
}

.launchbutton {
  width: 20%;
  height: 40px;
}

.launchbutton:hover {
  width: 20%;
  height: 40px;
}

.recent-folders{
  border-image: var(--ucp-main-outline-image) fill;
  border-width: 4px;
  border-style: solid;
  background-color: transparent;
}

.margin-blocker {
  display: flex;
}