.credits-button {
  background-color: var(--ucp-menu-shade);
  color: white;
  position: absolute;
  border: none;
  font-size: 16px;
  padding: 4px 16px;
  top: 8px;
  left: 12px;
}

.credits-container {
  padding-top:100px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom:100px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credits-title {
  color: white;
}

.credits-text-box {
  padding: 15px;
}

.credits-text {
  height:100%;
  overflow-y: scroll;
  color:black;
}

.credits-close{
  margin-left: auto;
  color: white;
  background-color: transparent;
  border: none;
}