.credits-button {
  background-color: var(--ucp-menu-shade);
  color: white;
  position: absolute;
  border: none;
  font-size: 16px;
  padding: 4px 16px;
  top: 8px;
  left: 12px;
}

.credits-container {
  padding-top:100px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom:100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credits-title {
  color: white;
}

.credits-text-box {
  background-image: url("/src/assets/ucp3/crdits_bg.png");
  border-image: url("/src/assets/ucp3/credit_background.png");
  border-style: solid;
  border-image-slice: 17 16 17 17;
  border-image-width: 17px 16px 17px 17px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat repeat;
  width: 100%;
  height: 100%;
  padding: 6px;
  overflow: hidden;
}

.credits-text-wrapper {
  height:100%;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  color:black;
}

/* TODO: The current text is really hard to read, so either the font or the background need changes. */
.credits-text {
  padding: 15px 10px;
}

.credits-close{
  margin-left: auto;
  color: white;
  background-color: transparent;
  border: none;
}