.launch__container {
  justify-content: start;
}

.launch__boxes {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 15px;
}

.launch__options {
  align-items: start;
  padding: 15px;
  overflow: hidden;
}

.launch__options,
.launch__options__box {
  width: 100%;
  flex-grow: 1;
}

.launch__options__box {
  padding: 8px;
  display: flex;
  flex-direction: column;
  color: black;

  & input {
    height: 2em;
    min-width: 0;
  }

  & button {
    padding: 0;
    height: 2em;
    aspect-ratio: 1/1;
  }

  & select {
    height: 2em;
  }
}

.launch__options__box__row {
  width: 100%;
  display: flex;
}