@import '~bootstrap';

.editor-app {
  position: relative;
  height: 95vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#config-sections {
  height: 85vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}

#config-navbar * .nav-link {
  /* color: #f8f9fa; */
  padding: 0;
}

#config-navbar > nav > nav > a {
  font-size: medium;
}

#config-navbar > nav > nav > nav > a {
  font-size: medium;
}

#config-navbar > nav > nav > nav > a {
  font-size: medium;
}
#config-navbar > nav > nav > nav > nav > a {
  font-size: medium;
}

.form-control:disabled {
  opacity: 0.5;
}

.form-label:disabled {
  opacity: 0.5;
}
