.ucp-tabs {
  height: 100%;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.ucp-tabs-header {
  padding: 100px 7px 0 7px;
  background-image: url('/src/assets/ucp3/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: end;
  border: 0;
}

.tab-content {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-image-width: auto 0 0 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.tab-panel {
  height: 100%;
  width: 100%;
}

.tab-link {
  border-bottom: 0;
  border-image-width: auto auto 0 auto;

  display: flex;
  align-items: start;
  justify-content: center;
  background-color: transparent;
  height: 50px;
  width: 160px;
  text-align: center;
  color: white;
  margin-bottom: 0;
}

.tab-link:hover {
  border-bottom: 0;
  border-image-width: auto auto 0 auto;
}

.tab-link.active {
  border-bottom: 0;
  border-image-width: auto auto 0 auto;

  height: 60px;
}