.background-image {
    background-image: url('../../../assets/ucp3/bg.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.download-install-button {
    height: 10px;
    width: 90%;
}