.ucp-touched {
  position: relative;
}

.ucp-touched:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--bs-primary);
  margin-left: -6px;
}
