.arrow-container {
  display: inline-block;
  background-color: transparent !important;
  width: 12px !important;
  height: 7px !important;
  border: none !important;
}

.arrow-container[disabled] .arrow {
  display: inline-block;
  background-color: transparent !important;
  background: transparent;
  width: 12px !important;
  height: 7px !important;
  border: none !important;
  padding: none !important;
  margin: none !important;
}

.arrow {
  width: 12px;
  height: 7px;
  border: none;
  padding: none;
  margin: none;
}

.down {
  background-image: url("/src/assets/ucp3/move_down.png");
}

.up {
  background-image: url("/src/assets/ucp3/move_up.png");
}

.parchment-box-inside {
  padding: 6px;
}

.parchment-box-item-list {
  overflow-y: scroll;
  overflow-x: clip;
}

