.game-starter__box {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  align-content: flex-end;
  padding: 15px;
}

.game-starter__box>hr {
  flex-basis: 100%;
  height: 0;
  margin: 0 0 15px 0;
  border: 0;
}

.game-starter__box:has(.game-starter__starter--starting) {
  cursor: wait;
  filter: brightness(75%);
}

.game-starter__box:has(.game-starter__starter--disabled) {
  pointer-events: none;
  cursor: none;
  opacity: 40%;
  filter: grayscale(50%)
}

.game-starter__starter,
.game-starter__starter--starting,
.game-starter__starter--disabled {
  font-size: 2em;
  margin-right: 10px;
  max-width: calc(20% - 10px);
  width: 70px;
  aspect-ratio: 1/1;
}

.game-starter__starter:hover~img {
  filter: drop-shadow(0 0 5px var(--ucp-main-grey));
}

.game-starter__starter:active~img {
  filter: brightness(75%);
}

.game-starter__starter--starting {
  pointer-events: none;
}

.game-starter__info {
  max-width: 80%;
}

.game-starter__info__row {
  vertical-align: top;
}

.game-starter__info__row>td:first-child {
  text-align: right;
  white-space: nowrap;
}

.game-starter__info__row>td:nth-child(2) {
  text-align: center;
  min-width: 15px;
}

.game-starter__info__row>td:last-child button {
  border: 0;
  background: none;
  color: inherit;
  padding: 0;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 50%;
  }
}