/* used for very common stuff */

/* Reduces power of this styling, allowing easier override */
@import 'bootstrap' layer(bootstrap);

@import './scrollbar.css';

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.85rem;
}

.light-shade-item {
  background-color: rgba(245, 245, 227, 0.42);
  border: 2px solid rgba(0, 0, 0, 0);
  color: black;
  margin: 2px;
  margin-right: -1px;
  overflow-x: visible;
}

/* full available size, column, centered */
.flex-default {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ucp-button {
  border-image: url('/src/assets/ucp3/button_ucp.png');
  border-image-slice: 8 fill;
  border-image-repeat: stretch;
  border-image-width: auto;

  border-style: solid;
  border-width: 8px;
  border-color: transparent;

  background-color: transparent;
  color: white;
}

.ucp-button[disabled] {
  pointer-events: none;
  opacity: 0.75;
  color: gray;
}

.ucp-button:hover {
  border-image: url('/src/assets/ucp3/button_ucp_hover.png');
  border-image-slice: 8 fill;
  border-image-repeat: stretch;
  border-image-width: auto;
}

.ucp-button:active {
  border-image: url('/src/assets/ucp3/button_ucp_active.png');
  border-image-slice: 8 fill;
  border-image-repeat: stretch;
  border-image-width: auto;
}

.ucp-button--square {
  aspect-ratio: 1/1;
}

.icon-button {
  background-color: transparent;
}

/*
  Border and box elements:
*/

:is(.ornament-border-shadow, .parchment-box) {
  border-image: url('/src/assets/ucp3/ornament_border_shadow.png');
  border-image-slice: 16;
  border-image-repeat: round;

  /* "border-image-width" seems to make the image width independent of the border width */
  border-image-width: auto;

  /* Used to create invisible border width for sizing */
  border-style: solid;
  border-width: 8px;
  border-color: transparent;
}

.parchment-box {
  background-image: url('/src/assets/ucp3/parchment_bg.png');
  overflow: hidden auto;
}

.ornament-border {
  border-image: url('/src/assets/ucp3/ornament_border.png');
  border-image-slice: 8;
  border-image-repeat: round;
  border-image-width: auto;

  border-style: solid;
  border-width: 8px;
  border-color: transparent;
}

.ornament-border-inset {
  border-image: url('/src/assets/ucp3/ornament_border_inset.png');
  border-image-slice: 13 fill;
  border-image-repeat: round;
  border-image-width: auto;

  border-style: solid;
  border-width: 8px;
  border-color: transparent;
}

.ornament-border-button {
  border-image: url('/src/assets/ucp3/ornament_border_button.png');
  border-image-slice: 18 fill;
  border-image-repeat: round;
  border-image-width: auto;

  border-style: solid;
  border-width: 13px;
  border-color: transparent;
}

.ornament-border-button.active,
.ornament-border-button:active,
.ornament-border-button:hover {
  border-image: url('/src/assets/ucp3/ornament_border_button_hover.png');
  border-image-slice: 18 fill;
  border-image-repeat: round;
  border-image-width: auto;
}

.outline-border {
  border-image: url('/src/assets/ucp3/outline_border.png');
  border-image-slice: 2;
  border-image-repeat: stretch;
  border-image-width: auto;

  border-style: solid;
  border-width: 2px;
  border-color: transparent;
}
