.button {
    /* Other button styles here */
    border-image: url("../assets/ucp3/button_slice.png");
    border-image-slice: 49% fill;
    border-width: 20px;
    border-style: solid;
    background-color: transparent;  
    color: white;
    vertical-align: center;
    min-width: 100px;
    padding-top: -20px;
}
  
.button:hover {
    /* Other button styles here */
    border-image: url("../assets/ucp3/button_slice_hover.png");
    border-image-slice: 49% fill;
    border-width: 20px;
    border-style: solid;
    background-color: transparent;
    color: white;
    vertical-align: center;
    min-width: 100px;
}

.buttontext{
  margin-top: -12px;
}
