
html {
  overflow: hidden;
}

body {
  overflow: auto;
}

.btn-gyntsmaller {
  font-size: 10px;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.85rem;
}

.dark-dropdown {
  background-color: rgba(0, 0, 0, 0.521);
  color: white !important;
  border: none !important;
}

.dark-dropdown option {
  background-color: rgba(0, 0, 0, 0.800) !important;
  color: white;
}

.file-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(12, 12, 12, 0.8);
  color: rgb(155, 155, 155) !important;
  border: none !important;
  margin: 1px;
  white-space: nowrap;
}

.file-selector:hover {
  background-color: rgba(40, 40, 40, 0.8) !important;
  color: rgb(248, 255, 188) !important;
}

.background-image {
  background-image: url('/src/assets/ucp3/bg.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.landing-container {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
}

.textInput {
  background:
    url('/src/assets/ucp3/textfield_left.png') left center no-repeat,
    url('/src/assets/ucp3/textfield_right.png') right center no-repeat,
    url('/src/assets/ucp3/textfield_middle.png') center center repeat-x;
    
  background-size: auto;
  border: none;
  border-radius: 0px;
  height: 40px;
  width: 100%
}

.death90 {
  margin-right: 13px;
  left: 0;
  overflow: hidden;
}

.margin-title {
  margin-top: 20px;
}

.btn-close {
  margin-right: 3px;
}

.textInput input[type="text"] {
  background-color: transparent;
  flex-grow: 1;
  color: white;
  border: none;
}

.launch-button {
  /* Other button styles here */
  border-image: url("/src/assets/ucp3/button_slice.png");
  border-image-slice: 49% fill;
  border-width: 20px;
  border-style: solid;
  background-color: transparent;  
  color: white;
  vertical-align: center;
  width: 20%;
  height: 40px;
  min-width: 100px;
  padding-top: -20px;
}

.launch-button:hover {
  /* Other button styles here */
  border-image: url("/src/assets/ucp3/button_slice_hover.png");
  border-image-slice: 49% fill;
  border-width: 20px;
  border-style: solid;
  background-color: transparent;
  color: white;
  vertical-align: center;
  width: 20%;
  height: 40px;
  min-width: 100px;
}

.launchtext{
  margin-top: -12px;
}

.recent-folders{
  border-image: url("/src/assets/ucp3/outline.png");
  border-image-slice: 8% fill;
  border-width: 4px;
  border-style: solid;
  background-color: transparent;
}

.margin-blocker {
  display: flex;
}