.footer {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-image-width: auto 0 0 0;

  background-color: var(--ucp-main-brown);

  padding: 2px 0 2px 0;
  display: flex;
  flex-wrap: nowrap;
}

.footer-closed {
  height: 0px;
  padding: 0;
}

.footer-closed > * {
  display: none;
}

.footer__version-and-state {
  text-wrap: nowrap;
  padding: 0 0.5rem 0 0.5rem;
  vertical-align: middle;
}
