.extension-element {
  display: flex;
  width: 100%;

  background-color: rgba(245, 245, 227, 0.42);
  border: 2px solid rgba(0, 0, 0, 0);
  color: black;
  margin: 2px 0 2px 0;
  padding: 0 2px 0 2px;
}

.extension-name-box {
  flex-grow: 1;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.extension-name-box__name::before {
  margin: 0 0.5rem 0 0.5rem;
  content: '-';
  font-size: smaller;
  vertical-align: text-bottom;
}

.extension-name-box__name {
  font-size: smaller;
  cursor: pointer;
}

.extension-name-box__name.disabled {
  font-size: smaller;
  cursor: default;
}

.extension-version-dropdown {
  margin: 0rem 0rem 0rem 0rem;
  font-size: smaller;
  background-color: transparent;
  border: none;
  min-width: 60px;
}

.extension-version-dropdown:disabled {
  appearance: none;
  color: black;
}

.disable-arrow-trash-button {
  background-color: transparent;
  height: 100%;
  aspect-ratio: 18/17;
  border: none;
  border-radius: 0px;
  padding: 0px;
}

.enable-arrow,
.disable-arrow {
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  height: 100%;
  aspect-ratio: 18/17;
  border: none;
  border-radius: 0px;
  padding: 0px;

  &:disabled {
    opacity: 40%;
  }
}

.enable-arrow {
  background-image: url('/src/assets/ucp3/add.png');
}

.enable-arrow:hover:not(:disabled) {
  background-image: url('/src/assets/ucp3/add_hover.png');
}

.disable-arrow {
  background-image: url('/src/assets/ucp3/remove.png');
}

.disable-arrow:hover:not(:disabled) {
  background-image: url('/src/assets/ucp3/remove_hover.png');
}

.arrow-margin {
  margin-right: 14px;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  aspect-ratio: 1/1;
}

.arrow-container:disabled {
  background: transparent;
}

.arrow {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50%;

  background-color: transparent;
  border: none;
  border-radius: 0px;
  padding: 0px;
}

.arrow:disabled {
  background: transparent;
}

.down {
  background-image: url('/src/assets/ucp3/move_down.png');
}

.up {
  background-image: url('/src/assets/ucp3/move_up.png');
}
