.customize-extension-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.customize-extension-button:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: -2px;
}
