name: Build Tauri app

on: workflow_dispatch

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev webkit2gtk-4.0 libappindicator3-dev librsvg2-dev patchelf
      - name: install app dependencies and build it
        run: |
          npm install
          npm run build
      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: create latest.json
        shell: pwsh
        run: |
          $json = Get-Content .\src-tauri\tauri.conf.json | ConvertFrom-Json
          $version = $json.package.version

          $latest = @{
            'version' = $version
            'notes' = "Latest Tauri build"
            'pub_date' = Get-Date -Format "o"
            'platforms' = @{
              'windows-x86_64' = @{
                'signature' = ''
                'url' = '' # Don't know how to solve this with a private repo
              }
            }
          }

          ConvertTo-Json $latest | Set-Content -Path latest.json

      - uses: 'marvinpinto/action-automatic-releases@latest'
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          automatic_release_tag: 'latest-tauri'
          prerelease: true
          draft: false
          title: 'Tauri Development Build'
          files: |
            latest.json
            src-tauri/target/release/*.exe
            src-tauri/target/release/bundle/msi/*.msi
